* {
  outline: 1px solid red;
}

html, body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.topbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.topbar input {
  width: 75%;
}